---
import styles from "./Card.module.scss"

import IconArrowRight from "@/assets/images/icons/IconArrowRight.astro"

export type CardProps = {
  id: string
  title: string
  thumbnail: {
    common: string
    webp?: string
  }
  category: string
  area: string
}

type Props = CardProps

const { id, title, thumbnail, category, area } = Astro.props
const formattedUpperCaseArea = area.charAt(0).toUpperCase() + area.slice(1).toLowerCase()
const formattedLowerCaseArea = area.toLowerCase()
---

<article
  class:list={[styles.card, "js-articleItem"]}
  data-category={category.replaceAll("&", "")}
  data-theme={formattedLowerCaseArea}
>
  <a href={id} class={styles.card__link}>
    <picture class={styles.card__thumbnailWrap}>
      {thumbnail.webp && <source srcset={thumbnail.webp} type="image/webp" />}
      <img
        class={styles.card__thumbnail}
        src={thumbnail.common}
        loading="lazy"
        decoding="async"
        width={337}
        height={225}
        alt={`Photo of the ${title}`}
      />
    </picture>
    <div class={styles.card__body}>
      <h3 class={styles.card__title} set:html={title} />
      <p class={styles.card__area}>{formattedUpperCaseArea}</p>
      <IconArrowRight className={styles.card__icon} />
    </div>
  </a>
</article>
