---
import styles from "./Navigation.module.scss"

import ArrowRight from "@/assets/images/top/ArrowRight.astro"
import { getPath } from "@/utils"


const nav = [
  {
    name: "tokyo",
    path: getPath.tokyo.area,
    color: "#2F8D2F",
  },
  {
    name: "saitama",
    path: getPath.saitama.area,
    color: "#CE3434",
  },
  {
    name: "chiba",
    path: getPath.chiba.area,
    color: "#1A62C7",
  },
  {
    name: "kanagawa",
    path: getPath.kanagawa.area,
    color: "#F54545",
  },
  {
    name: "yamanashi",
    path: getPath.yamanashi.area,
    color: "#95268A",
  },
]
---

<div class:list={[styles.navigation]}>
  <div class={styles.navigation__inner}>
    {
      nav.map(
        ({ name, path, color }, index) =>
          index < 3 && (
            <a href={path} class:list={[styles.navigation__link, "u-uppercase"]}>
              {name}
              <ArrowRight className={styles.navigation__arrow} color={color} />
            </a>
          )
      )
    }
  </div>
  <div class={styles.navigation__inner}>
    {
      nav.map(
        ({ name, path, color }, index) =>
          index >= 3 && (
            <a href={path} class:list={[styles.navigation__link, "u-uppercase"]}>
              {name}
              <ArrowRight className={styles.navigation__arrow} color={color} />
            </a>
          )
      )
    }
  </div>
</div>
