---
import styles from "./Section.module.scss"

import Heading from "@/components/Heading/Heading.astro"
import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  title?: string
  contents: {
    title?: string
    desc?: string
    descs?: string[]
  }[]
}

const { title, contents, className } = Astro.props
---

<section class:list={[styles.section, className]}>
  {
    title && (
      <Heading tag={"h2"} size={"xs"} className={"justify-center"}>
        {title}
      </Heading>
    )
  }
  <ul class={styles.section__list}>
    {
      contents.map(({ title, desc, descs }) => (
        <li class={styles.section__item}>
          {title && <h3 class={styles.section__itemTitle} set:html={title} />}
          {desc && <p class={styles.section__itemDesc} set:html={desc} />}
          {descs && descs.map((desc) => <p class={styles.section__itemDesc} set:html={desc} />)}
        </li>
      ))
    }
  </ul>
</section>
