---
import type { CardProps } from "./Card/Card.astro"
import CardsWithPaginationFilter from "./CardsWithPaginationFilter/CardsWithPaginationFilter.astro"
import SliderWithFilter from "./SliderWithFilter/SliderWithFilter.astro"

import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  cards: CardProps[]
  categories: string[]
  perPage?: number
}

const { cards, categories, perPage, className } = Astro.props
---

<div class={className}>
  <div class={"md:hidden"}>
    <SliderWithFilter cards={cards} categories={categories} />
  </div>
  <div class={"max-md:hidden"}>
    <CardsWithPaginationFilter cards={cards} categories={categories} perPage={perPage} />
  </div>
</div>
