---
import styles from "./FourPieceSlider.module.scss"
import FourPieceSliderWrapper from "./FourPieceSliderWrapper.astro"

import bannerPng01 from "@/assets/images/common/banner_01.png"
import bannerPng02 from "@/assets/images/common/banner_02.png"
import bannerPng03 from "@/assets/images/common/banner_03.png"
import bannerPng04 from "@/assets/images/common/banner_04.png"
import bannerPng05 from "@/assets/images/common/banner_05.png"
import bannerPng06 from "@/assets/images/common/banner_06.png"

const banners = [
  {
    png: bannerPng01,
    href: "https://tokyotokyo.jp/",
    title: "TokyoTokyo",
  },
  {
    png: bannerPng02,
    href: "https://www.gotokyo.org/en/index.html",
    title: "GoTokyo",
  },
  {
    png: bannerPng03,
    href: "https://en.chocotabi-saitama.jp/",
    title: "Chocotabi Saitama",
  },
  {
    png: bannerPng04,
    href: "https://www.visitchiba.jp/",
    title: "Visit Chiba",
  },
  {
    png: bannerPng05,
    href: "https://trip.pref.kanagawa.jp/",
    title: "Tokyo Day Trip ‐ Kanagawa Travel Info ‐",
  },
  {
    png: bannerPng06,
    href: "https://www.yamanashi-kankou.jp/english/index.html",
    title: "Yamanashi - Home of Mt. Fuji",
  },
]
---

<FourPieceSliderWrapper id={"pc"} className={"u-hideSP"}>
  {
    banners.map(({ png, href, title }) => (
      <div class:list={[styles.fourPieceSlider__slide, "swiper-slide"]}>
        <div class={styles.fourPieceSlider__linkWrap}>
          <a href={href} class:list={[styles.fourPieceSlider__link, "js-four-piece-slider-link"]} target="_blank">
            <picture class={styles.fourPieceSlider__picture}>
              <img
                src={png.src}
                width={png.width}
                height={png.height}
                loading="lazy"
                decoding="async"
                alt={`logo of the ${title}`}
              />
            </picture>
          </a>
        </div>
      </div>
    ))
  }
</FourPieceSliderWrapper>
<FourPieceSliderWrapper id={"sp"} className={"u-hidePC"}>
  <div class:list={[styles.fourPieceSlider__slide, "swiper-slide"]}>
    {
      banners.map(
        ({ png, href, title }, index) =>
          index <= 1 && (
            <div class={styles.fourPieceSlider__linkWrap}>
              <a href={href} class:list={[styles.fourPieceSlider__link, "js-four-piece-slider-link"]} target="_blank">
                <picture class={styles.fourPieceSlider__picture}>
                  <img
                    src={png.src}
                    width={png.width}
                    height={png.height}
                    loading="lazy"
                    decoding="async"
                    alt={`logo of the ${title}`}
                  />
                </picture>
              </a>
            </div>
          )
      )
    }
  </div>
  <div class:list={[styles.fourPieceSlider__slide, "swiper-slide"]}>
    {
      banners.map(
        ({ png, href, title }, index) =>
          index > 1 &&
          index <= 3 && (
            <div class={styles.fourPieceSlider__linkWrap}>
              <a href={href} class:list={[styles.fourPieceSlider__link, "js-four-piece-slider-link"]} target="_blank">
                <picture class={styles.fourPieceSlider__picture}>
                  <img
                    src={png.src}
                    width={png.width}
                    height={png.height}
                    loading="lazy"
                    decoding="async"
                    alt={`logo of the ${title}`}
                  />
                </picture>
              </a>
            </div>
          )
      )
    }
  </div>
  <div class:list={[styles.fourPieceSlider__slide, "swiper-slide"]}>
    {
      banners.map(
        ({ png, href, title }, index) =>
          index > 3 &&
          index <= 5 && (
            <div class={styles.fourPieceSlider__linkWrap}>
              <a href={href} class:list={[styles.fourPieceSlider__link, "js-four-piece-slider-link"]} target="_blank">
                <picture class={styles.fourPieceSlider__picture}>
                  <img
                    src={png.src}
                    width={png.width}
                    height={png.height}
                    loading="lazy"
                    decoding="async"
                    alt={`logo of the ${title}`}
                  />
                </picture>
              </a>
            </div>
          )
      )
    }
  </div>
</FourPieceSliderWrapper>
<script>
  import { fourPieceSlider } from "@/assets/scripts/slider"
  fourPieceSlider("pc")
  fourPieceSlider("sp")
</script>
