---
import styles from "./FourPieceSlider.module.scss"

import IconArrowLeft from "@/assets/images/icons/IconArrowLeft.astro"
import IconArrowRight from "@/assets/images/icons/IconArrowRight.astro"
import IconPause from "@/assets/images/icons/IconPauseStroke.astro"
import IconPlay from "@/assets/images/icons/IconPlay.astro"
import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  id: string
}

const { id, className } = Astro.props
---

<div class:list={[styles.fourPieceSlider, className]}>
  <button
    type="button"
    class:list={[styles.fourPieceSlider__prev, `js-four-piece-slider-${id}-prev`, "swiper-button-prev"]}
  >
    <IconArrowLeft className={styles.fourPieceSlider__arrowLeft} width={10} height={15} color={"#000"} />
  </button>
  <button
    type="button"
    class:list={[styles.fourPieceSlider__next, `js-four-piece-slider-${id}-next`, "swiper-button-next"]}
  >
    <IconArrowRight className={styles.fourPieceSlider__arrowRight} width={10} height={15} color={"#000"} />
  </button>
  <div class:list={[styles.fourPieceSlider__slider, "swiper", `js-four-piece-slider-${id}`]}>
    <div class:list={[styles.fourPieceSlider__wrapper, "swiper-wrapper"]}>
      <slot />
    </div>

    <div class={styles.fourPieceSlider__footer}>
      <button
        type="button"
        class:list={[styles.fourPieceSlider__button, `js-four-piece-slider-${id}-play`]}
        aria-label="Pause the automatic playback of the carousel"
        data-play="true"
      >
        <IconPause className={styles.fourPieceSlider__pause} />
        <IconPlay className={styles.fourPieceSlider__play} />
      </button>
      <div
        class:list={[styles.fourPieceSlider__pagination, `js-four-piece-slider-${id}-pagination`, "swiper-pagination"]}
      >
      </div>
    </div>
  </div>
</div>
