---
import styles from "./ThreePieceSlider.module.scss"

import IconArrowLeft from "@/assets/images/icons/IconArrowLeft.astro"
import IconArrowRight from "@/assets/images/icons/IconArrowRight.astro"
import IconPause from "@/assets/images/icons/IconPauseStroke.astro"
import IconPlay from "@/assets/images/icons/IconPlay.astro"
import type { PropsWithClassName } from "@/types"

export type ThreePieceSliderProps = {
  common: string
  webp?: string
  width: number
  height: number
  alt: string
  href: string
}

type Props = PropsWithClassName & {
  slides: ThreePieceSliderProps[]
  rootSelector: string
}

const { slides, rootSelector, className } = Astro.props
---

<div class:list={[styles.threePieceSlider, className]}>
  <div class:list={[styles.threePieceSlider__slider, "swiper", rootSelector]}>
    <button type="button" class:list={[styles.threePieceSlider__prev, `${rootSelector}-prev`, "swiper-button-prev"]}>
      <IconArrowLeft className={styles.threePieceSlider__arrowLeft} width={10} height={15} color={"#000"} />
    </button>
    <div class:list={[styles.threePieceSlider__wrapper, "swiper-wrapper"]}>
      {
        slides.map(({ common, webp, width, height, alt, href }) => (
          <>
            <h3 class="sr-only">{alt}</h3>
            <div class:list={[styles.threePieceSlider__slide, "swiper-slide"]}>
              <div class={styles.threePieceSlider__slideLinkWrap}>
                <a class:list={[styles.threePieceSlider__slideLink, "js-slider-link"]} href={href}>
                  <picture class={styles.threePieceSlider__picture}>
                    {webp && <source srcset={webp} type="image/webp" />}
                    <img
                      src={common}
                      width={width}
                      height={height}
                      loading="lazy"
                      decoding="async"
                      alt={alt}
                      class={styles.threePieceSlider__img}
                    />
                  </picture>
                </a>
              </div>
            </div>
          </>
        ))
      }
    </div>
    <button type="button" class:list={[styles.threePieceSlider__next, `${rootSelector}-next`, "swiper-button-next"]}>
      <IconArrowRight className={styles.threePieceSlider__arrowRight} width={10} height={15} color={"#000"} />
    </button>
    <button
      type="button"
      class:list={[styles.threePieceSlider__button, `${rootSelector}-play`]}
      aria-label="Pause the automatic playback of the carousel"
      data-play="true"
    >
      <IconPause className={styles.threePieceSlider__pause} />
      <IconPlay className={styles.threePieceSlider__play} />
    </button>
  </div>
</div>
