---
import Information from "./Information/Information.astro"
import Introduction from "./Introduction/Introduction.astro"
import styles from "./Spot.module.scss"
import TripIdea from "./TripIdea/TripIdea.astro"

import Heading from "@/components/Heading/Heading.astro"
import LinkPrimary from "@/components/LinkPrimary/LinkPrimary.astro"
import Container from "@/layouts/Container/Container.astro"
import type { Area, PropsWithClassName, SpotData } from "@/types"
import { getPath } from "@/utils"

type Props = SpotData & PropsWithClassName

const { className, title, area, thumbnails, content, mapLink, infoTitle, infoDesc, websiteLink } = Astro.props
---

<div class:list={[styles.spot, className]}>
  <Container size={"md"}>
    <Heading tag={"h1"} className={styles.spot__heading}>
      <span set:html={title} />
    </Heading>
    <Introduction thumbnails={thumbnails.split(",")} title={title} content={content} />
    <section class={styles.spot__information}>
      <Information
        className={"mt-[36px] md:mt-[24px] lg:mt-[40px]"}
        mapLink={mapLink}
        title={infoTitle}
        desc={infoDesc}
        websiteLink={websiteLink}
      />
    </section>
  </Container>
  <Container size={"sm"}>
    <div class:list={[styles.spot__linkWrap, "mt-[40px] md:mt-[40px] lg:mt-[48px]"]}>
      <LinkPrimary theme={area as Area} href={getPath[area as Area].area}>
        <span class={"u-uppercase"}>{area}</span> Details
      </LinkPrimary>
    </div>
  </Container>
  <section class:list={[styles.spot__tripIdea, "md:mt-[76px] lg:mt-[146px]"]}>
    <Container>
      <TripIdea />
    </Container>
  </section>
</div>
