---
import styles from "./TripIdea.module.scss"

import Heading from "@/components/Heading/Heading.astro"
import LinkPrimary from "@/components/LinkPrimary/LinkPrimary.astro"
import type { Area, PropsWithClassName } from "@/types"
import { getPath } from "@/utils"

export type TripIdeaProps = PropsWithClassName & {
  theme: Area
  text: string
  image: {
    src: string
    srcSp?: string
    width: number
    height: number
    alt: string
  }
  dayLength?: number
}

type Props = TripIdeaProps

const {
  theme,
  text,
  image: { src, srcSp, width, height, alt },
  className,
  dayLength = 3,
} = Astro.props
---

<section class:list={[styles.tripIdea, className]}>
  <div class={styles.tripIdea__inner}>
    <div class={styles.tripIdea__body}>
      <Heading tag="h2" className={styles.tripIdea__heading}>1-{dayLength} Days Trip Idea</Heading>
      <p class={styles.tripIdea__desc}>
        {text}
      </p>
      <LinkPrimary href={getPath[theme].route} className={"max-md:hidden mt-[49px]"} theme={theme}>
        Learn More
      </LinkPrimary>
    </div>
    <picture class={styles.tripIdea__picture}>
      {
        srcSp && (
          <source
            class={styles.tripIdea__img}
            srcset={srcSp}
            width={width}
            height={height}
            media="(max-width: 767px)"
          />
        )
      }
      <img
        class={styles.tripIdea__img}
        src={src}
        width={width}
        height={height}
        alt={alt}
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
  <div class={styles.tripIdea__linkWrap}>
    <LinkPrimary href={getPath[theme].route} className={"md:hidden mt-[24px]"} theme={theme}>Learn More</LinkPrimary>
  </div>
</section>
