---
import styles from "./Videos.module.scss"

const videos = [
  {
    title: "Before traveling",
    video: [
      {
        src: "/videos/dummy.mp4",
        poster: "/base_bg.png",
        title: "Full ver《120sec》",
      },
      {
        src: "/videos/dummy.mp4",
        poster: "/base_bg.png",
        title: "Short Ver《30sec》",
      },
    ],
  },
  {
    title: "While traveling",
    video: [
      {
        src: "",
        poster: "/base_bg.png",
        title: "",
      },
    ],
  },
]
---

<div class={styles.videos}>
  <slot />
  <ul class={styles.videos__list}>
    {
      videos.map(({ title, video }) => (
        <li class={styles.videos__item}>
          <h3 class={styles.videos__heading}>{title}</h3>
          <div class:list={[styles.videos__tab, "js-video-tab"]}>
            {video.map(({ src, poster }, index) => (
              <>
                {src ? (
                  <div
                    id={`tabPanel${index + 1}`}
                    role="tabpanel"
                    aria-hidden={`${index !== 0}`}
                    class={styles.videos__videoWrap}
                  >
                    <video
                      class:list={[styles.videos__video, "js-tab-with-video"]}
                      controls
                      preload="metadata"
                      playsinline
                      poster={poster ?? ""}
                      src={`${src}#t=0.001`}
                    >
                      <track default kind="captions" srclang="en" src="#" />
                    </video>
                  </div>
                ) : (
                  <div class={styles.videos__commingSoon}>Coming soon</div>
                )}
              </>
            ))}
            {video.length > 1 && (
              <ul role="tablist" class={styles.videos__tabList}>
                {video.map(({ title }, index) => (
                  <li role="presentation" class:list={[styles.videos__tabItem, "js-nav-slide-item"]}>
                    <button
                      class={styles.videos__tabButton}
                      type="button"
                      role="tab"
                      aria-controls={`tabPanel${index + 1}`}
                      data-current={`${index === 0}`}
                      data-default-current={`${index === 0}`}
                    >
                      {title}
                    </button>
                  </li>
                ))}
              </ul>
            )}
          </div>
        </li>
      ))
    }
  </ul>
</div>
