---
import Card, { CardProps } from "../Card/Card.astro"
import CategoryDropDown from "../CategoryDropDown/CategoryDropDown.astro"

import styles from "./SliderWithFilter.module.scss"

import IconCircleArrowLeft from "@/assets/images/icons/IconCircleArrowLeft.astro"
import IconCircleArrowRight from "@/assets/images/icons/IconCircleArrowRight.astro"
import Container from "@/layouts/Container/Container.astro"
import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  cards: CardProps[]
  categories: string[]
}

const { cards, categories, className } = Astro.props

type FilteredCategory = {
  category: string
  cards: typeof cards
}

const filteredCards: FilteredCategory[] = []

for (const card of cards) {
  const { category } = card
  let found = false

  for (const item of filteredCards) {
    if (item.category === category) {
      item.cards.push(card)
      found = true
      break
    }
  }

  if (!found) {
    filteredCards.push({
      category,
      cards: [card],
    })
  }
}
---

<div id="js-slider-with-filter" class:list={[styles.sliderWithFilter, className]} data-categories={categories}>
  <Container>
    <CategoryDropDown categories={categories} />
  </Container>
  {
    filteredCards.map(({ category, cards }) => (
      <div
        class:list={[styles.sliderWithFilter__wrapper, "js-spot-slider"]}
        data-category={category.replaceAll("&", "")}
        data-hidden={`${category.replaceAll("&", "") !== categories[0]}`}
      >
        <div class:list={[styles.slider, "swiper", `js-spot-slider-${category.replaceAll("&", "")}`]}>
          <div class:list={[styles.slider__wrapper, "swiper-wrapper"]}>
            {cards.map((card) => (
              <div class:list={[styles.slider__slide, "swiper-slide"]}>
                <Card {...card} />
              </div>
            ))}
          </div>

          <div class={styles.slider__footer}>
            <div
              class:list={[
                styles.slider__scrollbar,
                `js-spot-slider-${category.replaceAll("&", "")}-scrollbar`,
                "swiper-scrollbar",
              ]}
            />

            <div class={styles.slider__footerInner}>
              <div
                class:list={[styles.slider__pagination, `js-spot-slider-${category.replaceAll("&", "")}-pagination`]}
              />
              <div class={styles.slider__buttons}>
                <button
                  type="button"
                  class:list={[styles.slider__prev, `js-spot-slider-${category.replaceAll("&", "")}-prev`]}
                >
                  <IconCircleArrowLeft />
                </button>
                <button
                  type="button"
                  class:list={[styles.slider__next, `js-spot-slider-${category.replaceAll("&", "")}-next`]}
                >
                  <IconCircleArrowRight />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

<script>
  import { spotSliderWithDropdownFilter } from "@/assets/scripts/slider"
  spotSliderWithDropdownFilter()
</script>
