---
import styles from "./Information.module.scss"

import IconBlank from "@/assets/images/icons/IconBlank.astro"
import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  mapLink: string
  title: string
  desc: string
  websiteLink: string
}

const { mapLink, title, desc, websiteLink, className } = Astro.props
---

<div class:list={[styles.information, className]}>
  <div class={styles.information__inner}>
    <h2 class={styles.information__heading}>Information</h2>
    <div class={styles.information__body}>
      <div class={styles.information__map}>
        <iframe src={mapLink} width="343" height="203" aria-hidden="false" loading="lazy" title={`${title} google map`}
        ></iframe>
      </div>
      <div class={styles.information__content}>
        <h3 class={styles.information__title} set:html={title} />
        <p class={styles.information__desc} set:html={desc} />
        <a href={websiteLink} class={styles.information__link} target="_blank">
          View Website<IconBlank className={styles.information__linkIcon} />
        </a>
      </div>
    </div>
  </div>
</div>
