---
import type { HTMLAttributes } from "astro/types"

import styles from "./List.module.scss"

export type LinkProps = HTMLAttributes<"a"> & {
  text: string
  videoTrigger?: string
  videoPanel?: 1 | 2
  isDisabled?: boolean
}

type Props = {
  links: LinkProps[]
}

const { links } = Astro.props
---

<ul class={styles.list} role="tablist">
  {
    links.map(({ href, videoTrigger, videoPanel, text, isDisabled }) => (
      <li class={styles.list__item}>
        {href && (
          <a href={href} class={styles.list__link}>
            {text}
          </a>
        )}

        {videoTrigger && (
          <button
            type="button"
            class={styles.list__link}
            data-micromodal-trigger={videoTrigger}
            data-select-videotab={videoPanel}
          >
            {text}
          </button>
        )}

        {isDisabled && (
          <span class={styles.list__link} data-disabled="true">
            {text}
          </span>
        )}
      </li>
    ))
  }
</ul>
