---
import VideoModalTrigger from "../VideoModalTrigger/VideoModalTrigger.astro"

import styles from "./MainVisual.module.scss"

import IconPauseStroke from "@/assets/images/icons/IconPauseStroke.astro"
import IconPlayStroke from "@/assets/images/icons/IconPlayStroke.astro"
import MainVisualHeading from "@/assets/images/top/MainVisualHeading.astro"
---

<section class={styles.mainVisual}>
  <div class={styles.mainVisual__inner}>
    <div class={styles.mainVisual__assets}>
      <div class={styles.mainVisual__background}>
        <video
          class:list={[styles.mainVisual__backgroundImage, "js-mv-video"]}
          playsinline
          autoplay
          loop
          muted
          preload="metadata"
          src={"/videos/main_visual.mp4"}
        >
          <track default kind="captions" srclang="en" src="#" />
        </video>
      </div>
      <button
        type="button"
        class:list={[styles.mainVisual__button, "js-mv-video-control-button"]}
        aria-label="Pause the video"
      >
        <IconPauseStroke className={"js-pause-icon"} />
        <IconPlayStroke className={"js-play-icon"} />
      </button>
    </div>

    <div class={styles.mainVisual__contents}>
      <h1 class={styles.mainVisual__heading}>
        <MainVisualHeading id={"js-fv-svg"} className={styles.mainVisual__headingSvg} />
        <span class="sr-only">Connected Japan Awaits You</span>
      </h1>
      <div class:list={[styles.mainVisual__videoTrigger, "u-hideSP"]}>
        <VideoModalTrigger className={"js-fv-trigger"} />
      </div>
    </div>
  </div>
</section>

<script>
  import { videoControl } from "@/assets/scripts/video/videoControl"
  videoControl(".js-mv-video", ".js-mv-video-control-button")

  const svg = document.querySelector("#js-fv-svg")
  const modalTrigger = document.querySelector(".js-fv-trigger")
  setTimeout(() => {
    svg?.classList.add("active")
  }, 100)
  setTimeout(() => {
    modalTrigger?.classList.add("active")
  }, 600)
</script>

<style>
  #js-fv-svg {
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1), transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .js-fv-trigger {
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1), transform 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  #js-fv-svg.active {
    transform: translateY(0);
    opacity: 1;
  }

  .js-fv-trigger.active {
    transform: translateY(0);
    opacity: 1;
  }
</style>
