---
import styles from "./TabWithSlider.module.scss"

import IconArrowLeft from "@/assets/images/icons/IconArrowLeft.astro"
import IconArrowRight from "@/assets/images/icons/IconArrowRight.astro"
import type { PropsWithClassName } from "@/types"


type Props = PropsWithClassName & {
  tabLength: number
  panelName?: string
}

const { className, tabLength, panelName } = Astro.props
---

<div id="route-top" class:list={[styles.tabFields, "js-route-tab", className]}>
  <div role="tabpanel" aria-hidden={"false"} aria-label="Full ver《120sec》"></div>
  <div class={styles.navigation__wrap}>
    {
      tabLength > 4 ? (
        <div class:list={[styles.navigation, "js-slide-line-route-multi"]}>
          <div class={styles.navigation__inner}>
            <ul role="tablist" class={styles.navigation__list}>
              {Array.from({ length: tabLength }).map((_, index) => (
                <li
                  role="presentation"
                  class:list={[styles.navigation__item, "js-nav-slide-item"]}
                  data-index={index + 1}
                >
                  <button
                    class={styles.navigation__button}
                    type="button"
                    role="tab"
                    aria-controls={`${panelName ?? "tabpanel"}${index + 1}`}
                    data-current={`${index === 0}`}
                    data-default-current={`${index === 0}`}
                  >
                    DAY{index + 1}
                  </button>
                </li>
              ))}
            </ul>
            <span class:list={[styles.navigation__slideLine, "js-nav-slide-line"]} data-index={1} />
            <span class:list={[styles.navigation__slideLine, "js-nav-slide-line"]} data-index={2} />
          </div>
        </div>
      ) : (
        <div class:list={[styles.navigation, "js-slide-line-route-default"]}>
          <div class={styles.navigation__inner}>
            <ul role="tablist" class={styles.navigation__list}>
              {Array.from({ length: tabLength }).map((_, index) => (
                <li role="presentation"  class:list={[styles.navigation__item, "js-nav-slide-item"]}>
                  <button
                    class={styles.navigation__button}
                    type="button"
                    role="tab"
                    aria-controls={`${panelName ?? "tabpanel"}${index + 1}`}
                    data-current={`${index === 0}`}
                    data-default-current={`${index === 0}`}
                  >
                    DAY{index + 1}
                  </button>
                </li>
              ))}
            </ul>
            <span class:list={[styles.navigation__slideLine, "js-nav-slide-line"]} />
          </div>
        </div>
      )
    }
  </div>
  <button type="button" class:list={["sr-only", "js-sr-only-button"]}></button>
  <div class={styles.tabFields__contents}>
    <slot />
  </div>
  <div class={styles.tabFields__buttons}>
    <a
      href="#route-top"
      class:list={[styles.tabFields__prev, "js-route-tab-prev"]}
      aria-label="Back to previous tabpanel"
    >
      <IconArrowLeft className={styles.tabFields__prevIcon} width={10} height={15} color={"#fff"} />
    </a>
    <a href="#route-top" class:list={[styles.tabFields__next, "js-route-tab-next"]} aria-label="Go to next tabpanel">
      <IconArrowRight className={styles.tabFields__nextIcon} width={10} height={15} color={"#fff"} />
    </a>
  </div>
</div>

<script>
  import { slideLineControl, slideLineControlMulti } from "@/assets/scripts/slideLine"
import { tabWithSlider } from "@/assets/scripts/tab/tabWithSlider"

  slideLineControl(".js-slide-line-route-default")
  slideLineControlMulti(".js-slide-line-route-multi")
  tabWithSlider(".js-route-tab")
</script>
