---
import styles from "./Drawer.module.scss"

import { getPath, testPath } from "@/utils"

const currentPath = Astro.url.pathname
const isTopPage = testPath.isTop(currentPath)

const nav = [
  {
    name: "Top",
    path: `${isTopPage ? "#top" : getPath.top}`,
    isCurrent: testPath.isTop(currentPath),
  },
  {
    name: "Spot",
    path: `${isTopPage ? "#spot" : "/#spot"}`,
    isCurrent: false,
  },
  {
    name: "Route",
    path: `${isTopPage ? "#route" : "/#route"}`,
    isCurrent: false,
  },
  {
    name: "Video",
    path: `${isTopPage ? "#video" : "/#video"}`,
    isCurrent: false,
  },
]
---

<div class={styles.drawer}>
  <button
    type="button"
    id="js-drawer-open"
    class={styles.drawer__button}
    aria-label="Show menu"
    aria-controls="js-drawer-menu"
    aria-expanded="false"
  >
    <span class={styles.drawer__buttonLine}></span>
  </button>

  <nav id="js-drawer-menu" class={styles.drawer__nav} aria-label="Site Menu">
    <button
      type="button"
      id="js-drawer-close"
      class={styles.drawer__buttonClose}
      aria-label="Hide the menu"
      aria-controls="js-drawer-menu"
    >
    </button>
    <ul class={styles.drawer__list}>
      {
        nav.map(({ name, path, isCurrent }) => (
          <li class:list={[styles.drawer__item, "js-drawer-item", "u-uppercase"]}>
            <a href={path} class:list={[styles.drawer__link, "js-drawer-link"]} data-current={`${isCurrent}`}>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
