---
import styles from "./MainVisual.module.scss"

import type { PropsWithClassName } from "@/types"

type Props = PropsWithClassName & {
  title?: string
  titles?: string[]
  bg: {
    common: string
    webp: string
    width: number
    height: number
    commonSp: string
    webpSp: string
    widthSp: number
    heightSp: number
    alt: string
  }
}

const {
  className,
  title,
  titles,
  bg: { common, webp, width, height, commonSp, webpSp, widthSp, heightSp, alt },
} = Astro.props
---

<div class:list={[styles.mainVisual, className]}>
  <div class={styles.mainVisual__inner}>
    <picture class={styles.mainVisual__bg}>
      <source srcset={webpSp} media="(max-width: 767px)" type="image/webp" />
      <source srcset={commonSp} width={widthSp} height={heightSp} media="(max-width: 767px)" />
      <source srcset={webp} type="image/webp" />
      <img src={common} width={width} height={height} alt={alt} loading="lazy" decoding="async" />
    </picture>
    {title && <h1 class={styles.mainVisual__title}>{title}</h1>}
    {
      titles && (
        <h1 class={styles.mainVisual__titles}>
          {titles.map((title) => (
            <span class:list={[styles.mainVisual__titlesText, "u-uppercase"]}>{title}</span>
          ))}
        </h1>
      )
    }
  </div>
</div>
