---
import styles from "./Header.module.scss"
import IconTwitter from "@/assets/images/icons/IconTwitter.astro"
import IconGIthub from "@/assets/images/icons/IconGIthub.astro"

import { getPath } from "@/utils"

const nav = [
  {
    name: "Home",
    path: getPath.top,
  },
  {
    name: "Blog",
    path: getPath.blog,
  },
  {
    name: "About",
    path: getPath.about,
  },
]

const { pathname } = Astro.url
const getIsCurrent = (path: string) => path === pathname || path === pathname.replace(/\/$/, "")
---

<header class={styles.header}>
  <nav class={styles.nav} aria-label={"サイトメニュー"}>
    <h2><a href="/">A11y Practice</a></h2>
    <ul class={styles.initial_links}>
      {
        nav.map(({ name, path }) => (
          <li>
            <a
              href={path}
              class={styles.link}
              data-current={`${getIsCurrent(path)}`}
              aria-current={getIsCurrent(path) ? "page" : "false"}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
    <div class={styles.social_Links}>
      <a href="https://twitter.com/astrodotbuild" target="_blank">
        <span class="sr-only">Follow Astro on Twitter</span>
        <IconTwitter />
      </a>
      <a href="https://github.com/withastro/astro" target="_blank">
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <IconGIthub />
      </a>
    </div>
  </nav>
</header>
