---
import styles from "./Footer.module.scss"

import logo from "@/assets/images/icons/logo.svg"
import text from "@/assets/images/icons/text_input.svg"
import { getPath } from "@/utils"

const nav = [
  {
    name: "Terms of Use",
    path: getPath.termsOfUse,
  },
  {
    name: "Privacy Policy",
    path: getPath.privacyPolicy,
  },
  {
    name: "Website Policy",
    path: getPath.websitePolicy,
  },
  {
    name: "Website Map",
    path: getPath.websiteMap,
  },
]

const currentDate = new Date()
const year = currentDate.getFullYear()
const month = String(currentDate.getMonth() + 1).padStart(2, "0")
const day = String(currentDate.getDate()).padStart(2, "0")
const updatedAt = `update : ${year}y${month}m${day}d`
---

<footer class={styles.footer}>
  <div class={styles.footer__inner}>
    <ul class={styles.footer__nav}>
      {
        nav.map(({ name, path }) => (
          <li class={styles.footer__navItem}>
            <a href={path} class={styles.footer__navLink}>
              {name}
            </a>
          </li>
        ))
      }
    </ul>
    <div class={styles.footer__assets}>
      <img
        class={styles.footer__logo}
        src={logo.src}
        width={logo.width}
        height={logo.height}
        loading="lazy"
        decoding="async"
        alt="TCVB"
      />
      <img
        class={styles.footer__text}
        src={text.src}
        width={text.width}
        height={text.height}
        loading="lazy"
        decoding="async"
        alt="Tokyo Convenition & Vistors Bureau"
        aria-hidden="true"
      />
      <p class="sr-only">Tokyo Convenition & Vistors Bureau</p>
    </div>
    <div class={styles.footer__info}>
      <p class={styles.footer__copyright}>
        <small> &copy; 2023 Tokyo Convention &amp; Visitors Bureau. All rights reserved.</small>
      </p>
      <p class={styles.footer__updatedAt}>{updatedAt}</p>
    </div>
    <a href="#app" class={styles.footer__scrollTop}>Page Top</a>
  </div>
</footer>
