---
import styles from "./CategoryDropDown.module.scss"

import IconDropdown from "@/assets/images/icons/IconDropdown.astro"


type Props = {
  categories: string[]
}

const { categories } = Astro.props
---

<div class={styles.categoryDropDown} id="js-category-dropDown">
  <button
    type="button"
    class:list={[styles.categoryDropDown__button, "js-trigger-button"]}
    aria-controls="category-list"
    aria-label="Open category selection menu"
    aria-expanded="false"
  >
    <span>{categories[0]}<IconDropdown className={styles.categoryDropDown__icon} /></span>
  </button>
  <ul id="category-list" class:list={[styles.categoryDropDown__list, "js-category-list"]} aria-hidden="true">
    {
      categories.map((category) => (
        <li class={styles.categoryDropDown__item}>
          <button
            type="button"
            data-category={category.replaceAll('&', "")}
            class:list={[styles.categoryDropDown__itemButton, "js-category-item"]}
          >
            {category}
          </button>
        </li>
      ))
    }
  </ul>
</div>
