---
import Videos from "../Videos/Videos.astro"

import styles from "./VideoModal.module.scss"

import Video from "@/assets/images/icons/IconVideo.astro"

type Props = {
  id: string
}

const { id } = Astro.props
---

<div class={styles.videoModal__modal} id={id} aria-hidden="true">
  <div class={styles.videoModal__overlay} tabindex="-1" data-micromodal-close></div>
  <div class={styles.videoModal__wrapper} role="dialog" aria-modal="true" aria-labelledby={`${id}-title`}>
    <div class={styles.videoModal__content} id={`${id}-content`}>
      <button class={styles.videoModal__close} type="button" aria-label="Close modal" data-micromodal-close></button>
      <Videos>
        <p class={styles.videoModal__heading}><Video />Video</p>
      </Videos>
    </div>
  </div>
</div>
